[
{kernel, [{dist_auto_connect, false},
          {error_logger, {file, "./log/node.log"}}]},
{sasl, [{sasl_error_logger, {file, "./log/sasl_node.log"}}
            %, {utc_log, true}
            ]},
{e2d_node, [
          {config_url, "http://127.0.0.1:8000/config"},
          {config_file, "./conf/e2d_server.conf"},
          {local_conf, "./conf/e2dynamo.conf"}
          ]}
].
