[
{kernel, [{dist_auto_connect, false},
      {error_logger, {file, "./log/e2d.log"}}]},
{sasl, [{sasl_error_logger, {file, "./log/e2dsasl.log"}}
            %, {utc_log, true}
            ]},
{e2d_node, [
      {config_url, "http://127.0.0.1:8000/config"},
      {config_file, "./conf/test_server.conf"},
      {local_conf, "./conf/e2dynamo.conf"}
      ]}
].
