html, body {
  color:#000000;
  font:90% Arial,Helvetica,sans-serif;
  height:100%;
  margin:0;
  overflow:hidden;
  padding:0;
}

#wrap {
  background:url("../image/bg.png") repeat-y scroll 100% 0 #FFFFFF;
  height:100%;
  margin-right:210px;
  position:relative;
}

h1 {
  background:none repeat scroll 0 0 #333333;
  border-bottom:1px solid #333333;
  border-right:2px solid #111111;
  color:#999999;
  font:125%/32px Arial,Helvetica,sans-serif;
  height:32px;
  margin:0;
  padding:0 0 0 0.5em;
  position:relative;
}

h1 strong {
  color:#FFFFFF;
  font-weight:normal;
  padding-right:25px;
}

#content {
  bottom:0;
  left:0;
  overflow-x:auto;
  overflow-y:scroll;
  padding:1em 16px 3em 10px;
  position:absolute;
  right:0;
  top:33px;
}

#sidebar {
  background:none repeat scroll 0 0 #FFFFFF;
  height:100%;
  position:absolute;
  right:-210px;
  top:0;
  width:210px;
}

#fields {
  clear:right;
  table-layout:fixed;
}

table.listing {
  border:1px solid #A7A7A7;
  border-collapse:separate;
  border-spacing:0;
  clear:both;
  width:100%;
}

#fields col.field {
  width:33%;
}

table.listing tbody.footer tr td {
  background:none repeat scroll 0 0 #E9E9E9;
  border-top:1px solid #A7A7A7;
  color:#999999;
  font-size:90%;
  line-height:1.8em;
}

table.listing thead th:first-child {
border-left:medium none;
}

table.listing thead th {
  background:url("../image/thead.gif") repeat-x scroll 0 0 #DADADA;
  border-color:#A7A7A7;
  border-style:solid;
  border-width:0 0 1px 1px;
  color:#333333;
  font-size:95%;
  font-weight:normal;
  text-align:left;
  text-shadow:2px 1px 2px #999999;
  white-space:nowrap;
}

#fields tbody.content th {
  padding-left:25px;
  padding-right:48px;
}

table.listing tbody th:first-child, table.listing tbody td:first-child {
  border-left:medium none;
}

table.listing tbody tr th, table.listing tbody tr td {
  background:none repeat scroll 0 0 #FEFFEA;
}

table.listing tbody th {
  text-align:left;
}

table.listing tbody th, table.listing tbody td {
  border-left:1px solid #D9D9D9;
  padding:0.4em 0.5em;
  vertical-align:top;
}

table.listing th, table.listing td {
  padding:0.2em 0.5em;
}

#fields tbody.content th b {
  display:block;
  font-size:13px;
  padding:2px 2px 2px 3px;
}

#fields tbody.content td {
  color:#999999;
  padding-left:14px;
  padding-right:48px;
}

#fields tbody.content td code.string {
  white-space:pre-wrap;
}

#fields tbody.content td code {
  display:block;
  font-size:11px;
  padding:2px 2px 2px 3px;
  position:relative;
}

code.string {
  color:#339933;
}

code, tt, pre {
  font-family:"DejaVu Sans Mono",Menlo,Courier,monospace;
}

table.listing tbody tr.odd th, table.listing tbody tr.odd td, table.listing tbody.odd tr th, table.listing tbody.odd tr td {
  background:none repeat scroll 0 0 #FFFFFF;
}

#nav {
  color:#333333;
  font-size:110%;
  font-weight:bold;
  list-style:none outside none;
  margin:0;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0;
  width:210px;
}

#nav li {
  color:#999999;
  margin:5px 0 0;
  padding:3px 0;
}

#nav li span {
  padding:0 20px;
}

#nav ul {
  list-style:none outside none;
  margin:0;
  padding:0;
}

#nav li li {
  font-size:90%;
  font-weight:normal;
  margin:0;
  padding:2px 20px 2px 40px;
}

#nav li li :link, #nav li li :visited {
  color:#333333;
  display:block;
  overflow:hidden;
  text-decoration:none;
}

:link, :visited {
  color:#BA1E16;
  text-decoration:none;
}

#nav li li :link:hover, #nav li li:visited:hover{
  color:#000000;
}



