<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{data}}</title>
    <link type="text/css" href="/static/css/core.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/core.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <h1>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;sysmon监控的服务列表</strong>
      </h1>
      <div id="content">
        <table id="fields" class="listing" cellspacing="0">
          <col class="field"/>
	  <col class="value"/>

          <thead>
            <tr>
	      <th>服务地址</th>
	      <th>服务名字</th>
            </tr>
          </thead>

          <tbody class="content">
          {% for servicetag, servicekey, servicevalue in services %}
            {% ifequal servicetag true %}
              <tr>
              <th><b>{{servicekey}}</b></th>
              <td><code class="string">{{servicevalue}}</code></td>
              </tr>
            {% else %}
              <tr class="odd">
              <th><b>{{servicekey}}</b></th>
              <td><code class="string">{{servicevalue}}</code></td>
              </tr>
            {% endifequal %}
          {% endfor %}
          </tbody>

          <tbody class="footer">
            <tr>
	      <td colspan="2">
	        <span>显示sysmon监控系统所监控的所有的服务</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="sidebar" class="" style="width: 210px; display: block; height: 100%; right: -210px;">
        <ul id="nav" style="display: block;">
          <li>
            <span>链接:</span>
            <ul>
              <li><a href="/announce">发送系统广播消息</li>
              <li><a href="/monitorapp/dispatchserver">监控dispatchserver</li>
              <li><a href="/monitorapp/ejabberd">监控ejabberd</li>
              <li><a href="/monitorapp/redis">监控redis</li>
              <li><a href="/monitorapp/mysql">监控mysql</li>
              <li><a href="/logout">猛点这里退出系统</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
  
</html>
