<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{data}}</title>
    <link type="text/css" href="/static/css/core.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/core.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
  </head>

  <body>
        <div id="wrap">
      <h1>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;发送系统广播公告</strong>
      </h1>
      <div id="content">
        <div style="color:red;">{{result}}</div>
        <div style="color:green;">基于安全考虑, 我们需要提供系统授权的announce用户名 & 密码才能发送系统广播消息</div>
        <br/>
        <div style="font-weight:bold;">发送消息给-><span style="color:green;">在线用户</span></div>
        <form action="/announce/service/online" method="post">
          announce用户名: <input type="text" name="announce_usr" value=""/><br/>
          announce密码: <input type="text" name="announce_pwd" value=""/><br/>
          服务器的广播消息: <br/>
          <textarea name="message" cols="50" rows="4" value=""></textarea>
          <br/>
          <input type="submit" name="submit" value="发送"/>
        </form>
        <br/>
        <br/>
        <div style="font-weight:bold;">发送消息给-><span style="color:red;">所有注册用户</span></div>
        <form action="/announce/service/all" method="post">
          announce用户名: <input type="text" name="announce_usr" value=""/><br/>
          announce密码: <input type="text" name="announce_pwd" value=""/><br/>
          服务器的广播消息: <br/>
          <textarea name="message" cols="50" rows="4" value=""></textarea>
          <br/>
          <input type="submit" name="submit" value="发送"/>
        </form>
      </div>
      <div id="sidebar" class="" style="width: 210px; display: block; height: 100%; right: -210px;">
        <ul id="nav" style="display: block;">
          <li>
            <span>链接:</span>
            <ul>
              <li><a href="/">回到系统主页</li>
              <li><a href="/monitorapp/dispatchserver">监控dispatchserver</li>
              <li><a href="/monitorapp/ejabberd">监控ejabberd</li>
              <li><a href="/monitorapp/redis">监控redis</li>
              <li><a href="/monitorapp/mysql">监控mysql</li>
              <li><a href="/logout">猛点这里退出系统</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
  
</html>
