<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{data}}</title>
    <link type="text/css" href="/static/css/core.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/core.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <h1>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;登录sysmon监控系统</strong>
      </h1>
      <div id="content">
        <form action="/login/do" method="post">
          用户名: <input type="text" name="usr" value=""/>
          <br/>
          密码: <input type="password" name="pwd" value=""/>
          <br/><br/>
          <input type="submit" name="submit" value="登录"/>
        </form>
      </div>
      <div id="sidebar">
      </div>
    </div>
  </body>
  
</html>
