<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{data}}</title>
    <link type="text/css" href="/static/css/core.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/core.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <h1>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ filename }} - 详细报告</strong>
      </h1>
      <div id="content">
        <div>
          <img src="{{ imgurl }}" alt="请等待, 正在渲染日志中的数据: {{ filename }}" />
        </div>
        <br/>   
        <div>最小值: {{ minval }}</div>
        <div>最大值: {{ maxval }}</div>
        <br/><br/>
        <table id="fields" class="listing" cellspacing="0">
	  <col class="value" style="width: 100%;"/>

          <thead>
            <tr>
	      <th>原始数据</th>
            </tr>
          </thead>

          <tbody class="content">
          {% for itemtag, itemkey, itemvalue in sourcedata %}
            {% ifequal itemtag true %}
              <tr>
              <td><code class="string">{{itemvalue}}</code></td>
              </tr>
            {% else %}
              <tr class="odd">
              <td><code class="string">{{itemvalue}}</code></td>
              </tr>
            {% endifequal %}
          {% endfor %}
          </tbody>

          <tbody class="footer">
            <tr>
	      <td colspan="2">
	        <span>原始数据:{{ filename }}</span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div id="sidebar" class="" style="width: 210px; display: block; height: 100%; right: -210px;">
        <ul id="nav" style="display: block;">
          <li>
            <span>链接:</span>
            <ul>
              <li><a href="/">回到系统主页</li>
              <li><a href="/announce">发送系统广播消息</li>
              <li><a href="/monitorapp/dispatchserver">监控dispatchserver</li>
              <li><a href="/monitorapp/ejabberd">监控ejabberd</li>
              <li><a href="/monitorapp/redis">监控redis</li>
              <li><a href="/monitorapp/mysql">监控mysql</li>
              <li><a href="/logout">猛点这里退出系统</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
  
</html>
